.feed {
  background: #1c1c21;
  border-radius: 40px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.title {
  line-height: 1.2;
}

.status {
  margin-bottom: 0;
}

.statusDone {
  color: #0cc;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.ingredients {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredient {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin-right: -16px;
  overflow: hidden;
  background:
    linear-gradient(#131316, #131316) padding-box,
    #1c1c21;
  border: 2px solid #801ab2;
  border-radius: 50%;
}

.ingredient:last-child {
  margin-right: 0;
}

.ingredientImage {
  width: 112px;
  height: 56px;
  object-fit: cover;
}

.ingredientCounter {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(28 28 33 / 60%);
}

.price {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
