.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.ingredients_main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow-y: auto;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 60vh;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
}

.error {
  text-align: center;
}
