.element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  :global(.constructor-element__action) {
    display: none;
  }

  :global(.constructor-element__price) {
    display: none;
  }

  :global(.constructor-element__image) {
    display: none;
  }
}
