.container {
  display: flex;
  flex-direction: column;
}

.title {
  line-height: 1.2;
}

.status {
  margin-bottom: 0;
}

.statusDone {
  color: #0cc;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 320px;
  padding-right: 8px;
  overflow-y: auto;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.ingredientInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ingredientImageWrap {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  overflow: hidden;
  background:
    linear-gradient(#131316, #131316) padding-box,
    #1c1c21;
  border: 2px solid #801ab2;
  border-radius: 50%;
}

.ingredientImage {
  width: 112px;
  height: 56px;
  object-fit: cover;
}

.ingredientPrice {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.totalPrice {
  display: flex;
  align-items: center;
}

@media (width <= 767px) {
  .ingredient {
    align-items: flex-start;
  }

  .ingredientInfo {
    align-items: flex-start;
  }

  .ingredientPrice {
    padding-top: 20px;
  }
}
