.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ingredients__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ingredients__title {
  width: 100%;
}

.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 50%;
}

.name {
  text-align: center;
}
